.wrapper {

    width: 100%;
    height: 100%;
  }
  
#one, #two, #three, #four {
    /*border: 1px dashed red;
    box-sizing: border-box;*/
    float: left;
}
  
#one {
      height: 50%;
      width: 50%;
}
 #two {
      height: 50%;
      width: 50%;
}
#three {
      height: 50%;
      width: 50%;
}
#four {
      height: 50%;
      width: 50%;
}

#heatmap{
    display:flex;
    justify-content: center;
}

tr:nth-of-type(2n){
      background-color: lightgrey;
}
.title{
      font-size: 24px;
      font-weight: bold;
      text-anchor: middle;
}
.legend{
      font-size: 10.5px;
      text-anchor: middle;
}
.reset{
      font-size: 10.5px;
      text-anchor: middle;
      fill: red;
      font-weight: bold;
}
.header {
      fill: aliceblue;
      stroke: #fff;
      stroke-width: 2px;
      cursor: pointer;
    }
    
.header-text {
      font-size: 11px;
      text-anchor: middle;
      font-weight: 700;
}
.ctooltip{
      position: absolute;
      height: 200px;
      width: 200px;
      fill: white;
      visibility: hidden;
}
#tooltiptext{
      position: absolute;
      text-anchor: middle;
      text-align: center;
      width: 300px;
      visibility: hidden;
      fill: black
      
}

.infotip {                   /* set the CSS for tooltip divs */
      position: absolute;         /* reference for measurement */
      text-align: center;         /* align the text to the center */
      width: 400px;                    /* set the width of the rectangle */
      height: 428px;                   /* set the height of the   rectangle */
      padding: 2px;                   /* set a border around the rectangle */
      font: 12px sans-serif;      /* set the font type for the tooltips */
      background: lightsteelblue; /* set the colour of the rectangle */
      border: 0px;                    /* turn off the border (0px) */
      border-radius: 8px;         /* set how rounded the edges of the rectangle is */
      pointer-events: none;           /* 'none' tells the mouse to ignore the rectangle */
  }

